* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.page {
    background-color: #ffffff;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.content {
    display: block;
    flex: 1;
}

/**********HEADER**********/
header {
    position: fixed;
    background-color: transparent;
    width: 100vw;
}

.header-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header__logo {
    margin-top: 2%;

}

.header-nav {
    width: 260px;
    display: flex;
    margin-top: -2%;
    justify-content: space-between;
}

.header-nav a {
    text-decoration: none;
    color: #000000;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-nav-container {
    padding: 5% 3% 2% 75%;
    position: absolute;

}

.header-about {
    color: #5B584F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}


/**********COVER**********/

.div1 img {
    height: 100 vh;
    width: 100vw;
    position: absolute;
    z-index: -5
}

.div12 {
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 5%;
    max-width: 40%;
}

.div12 h2 {
    color: #000000;
    margin-bottom: 30px;
    font-size: 10vb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div12 p {
    font-size: 3vb;
    color: #000000;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-cover-button-panel {
    display: flex;
    width: 250px;
    justify-content: space-around;
    margin-top: 10px;
}

.button {
    border: solid 2px #5B584F;
    width: 70px;
    height: 25px;
    text-align: center;
}

/*********** MINI ABOUT***********/

.div2 {
    height: 25vh;
    text-align: center;
    padding: 4% 10% 4% 10%;
    background-image: url(./Images/bg1.png);
    font-size: larger;
}

.div2 h1 {
    color: #bfb39b;
    text-shadow: 2px 2px 2px #a74f57;
}

.div2 p {
    color: #bfb39b;
    text-shadow: 2px 2px 2px #a74f57;
}

/**********INVENTORY**********/

.div4 {
    height: 55vh;
    display: block;
    background-color: #bfb39b;
}

.inventory-container {
    height: inherit;
    padding: 3% 10% 12% 10%;
    width: 80%;
    display: flex;
    overflow: hidden;


}

.inventory-container .items {
    display: inline;
    height: 70vh;
    width: 40vw;
    overflow: hidden;
}

.items img {
    height: 80vh;

}

.inventory-text-container {
    width: 80%;
    height: 55vh;
    display: flex;
    justify-content: space-around;
    position: absolute;
}

.inventory-text p {
    position: absolute;
    text-align: center;
    display: block;
    padding-top: 30%;
    padding-bottom: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vb;
    color: #d9666f;

}

/**********ORDER NOW**********/
.div5 {
    display: flex;
    justify-content: space-between;
    background-color: #f27289;
    height: 40vh;
    padding: 2% 10% 2% 10%;
}

.div5 img {
    height: 40vh;
}

.ordernow-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10%;
}

#just-space-lol {
    height: 5vh;
}

.ordernow-button p {
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.butt {
    width: 20vw;
    margin: 5vw 10vw 0vw 10vw;
}

.div5 button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

button :disabled {
    pointer-events: none;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

.div6 {
    padding: 7% 10% 3% 10%;
}

/**************MAP*****************/
.map {
    padding: 3% 10% 3% 10%;
    display: flex;
    justify-content: space-between;
}

.map p {
    padding: 13vw 0vw 12vw 0vw;
    font-size: 5vb;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/**********about page**********/
.about-cover img {
    width: 100vw;
    margin-top: 5%;

}

.about-text {
    text-align: center;
    padding: 10vh 10vw 10vh 10vw;
    font-size: 2vb;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-text h1 {
    font-size: 5vb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/************Gallary page*********/
.page-title h1 {
    padding: 20vh 10vw 2vh 10vw;
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.gallary-container {

    height: 100vh;
    padding-left: 7vw;
    padding-right: 7vw;
    width: auto;
}

/************CONTACT*********/
.contact-container {
    margin: 25vh 10vw 5vh 10vw;
    padding: 2vb 2vb 2vb 2vb;
    display: flex;
    justify-content: space-between;
    background-color: #bab5b5;
}

.contact__info {
    padding-top: 5%;
    padding-right: 2%;
}

.contact__header {
    padding-bottom: 3vb;
}

/*------FOOTER--------*/
footer {
    background-color: #d9666f;
    color: #FFFFFF;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    padding: 5vh 10vw 5vh 10vw;
}

.footer-col {
    width: 30vw;
}

h4 {
    margin-bottom: 3vh;
}

.footer-col a {
    display: block;
}

/*------SOCAILS--------*/
.social {
    margin: 0;
    padding: 0;
    min-width: 170px;
    display: flex;
    justify-content: space-between;
}

.social__link {
    list-style-type: none;
    margin: 0;
}

.social__icon {
    text-decoration: none;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.social_header .social__icon {
    background-color: #f3b201;
    opacity: 0.8;
}

.social_footer .social__icon {
    background-color: #464646;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.social_header .social__icon:hover {
    background-color: #464646;
    transition: all 0.3s ease-in-out;
}

.social_footer .social__icon:hover {
    background-color: #f3b201;
    transition: all 0.3s ease-in-out;
}

.icon-instagram {
    background-image: url(./Images/icon-insta.svg);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.icon-facebook {
    background-image: url(./Images/icon-facebook.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.icon-twitter {
    background-image: url(./Images/icon-twitter.svg);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.socials-container {
    padding: 3vh 30vw 3vh 30vw;
    background-color: #f27289;
    background-color: ;
    height: 7vh;
}

.tighter-container {
    position: absolute;
    margin-left: 13vw;
}