* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.page {
    background-color: #ffffff;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.content {
    display: block;
    flex: 1;
}

/**********HEADER**********/
header {
    position: fixed;
    background-color: transparent;
    width: 100vw;
}

.header-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header__logo {
    margin-top: 2%;

}

.header-nav {
    width: 260px;
    display: flex;
    margin-top: -2%;
    justify-content: space-between;
}

.header-nav a {
    text-decoration: none;
    color: #000000;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-nav-container {
    padding: 5% 3% 2% 75%;
    position: absolute;

}

.header-about {
    color: #5B584F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}


/**********COVER**********/

.div1 img {
    height: 100 vh;
    width: 100vw;
    position: absolute;
    z-index: -5
}

.div12 {
    margin-top: 15%;
    margin-left: 5%;
    max-width: 40%;
}

.div12 h2 {
    color: #000000;
    margin-bottom: 30px;
    font-size: 10vb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div12 p {
    font-size: 3vb;
    color: #000000;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-cover-button-panel {
    display: flex;
    width: 250px;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 90px;

}

.button {
    border: solid 2px #5B584F;
    width: 70px;
    height: 25px;
    text-align: center;
}

/***********ABOUT***********/

.div2 {
    height: 25vh;
    text-align: center;
    padding: 4% 13% 4% 13%;
    background-color: #5B584F;
}

.div2 h1 {
    color: #E0D5AD;

}

.div2 p {
    color: #E0D5AD;

}

/**********INVENTORY**********/
.div4 {
    background-color: #F7CD82;
}

.card-container {
    display: flex;
    justify-content: space-between;
    padding: 5% 20% 5% 20%;
    height: 70vh;
    flex-wrap: wrap;
}

.card-container img {
    height: 250px;
}

/**********TESTIMONIALS**********/
.div5 {
    display: flex;
    justify-content: space-between;
    height: 40vh;
    padding: 2% 10% 2% 10%;
    background-image: url(./Images/testimonials-cover.jpg);
    background-size: 1500px;
}

/**********WHY WE ARE THE BEST COOKIES**********/
.why-best {
    height: 25vh;
    text-align: center;
    padding: 4% 13% 4% 13%;
    background-color: #5B584F;
}

/**************FIND OUT STORE*****************/
.find-store {
    background-color: #F7CD82;
    height: 60vh;
    padding: 2% 5% 2% 5%;
}





/**********about page**********/
.about-cover img {
    width: 100vw;
    margin-top: 5%;

}

.about-text {
    text-align: center;
    padding: 10vh 10vw 10vh 10vw;
    font-size: 2vb;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-text h1 {
    font-size: 5vb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/************Gallary page*********/
.page-title h1 {
    padding: 20vh 10vw 2vh 10vw;
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.gallary-container {

    height: 100vh;
    padding-left: 7vw;
    padding-right: 7vw;
    width: auto;
}

/************CONTACT*********/
.contact-container {
    margin: 25vh 10vw 5vh 10vw;
    padding: 2vb 2vb 2vb 2vb;
    display: flex;
    justify-content: space-between;
    background-color: #bab5b5;
}

.contact__info {
    padding-top: 5%;
    padding-right: 2%;
}

.contact__header {
    padding-bottom: 3vb;
}

/*------FOOTER--------*/
footer {
    background-color: #F79E6B;
    color: #FFFFFF;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 5vh 20vh 5vh 40vh;
}

.footer-col {
    width: 30vw;
}


.footer-col a {
    display: block;
    text-decoration: none;
    color: black;
}